# gitignore for the cosmic view of life project

# OS & Python files
**__pycache__/
.DS_Store
Thumbs.db
.vscode/

# Virtual Environment folder
.venv
/venv/

# Output directories (e.g., primates, birds, etc.)
/birds/
/primates/
/human_origins/
/insects/

# The processed catalogs
/catalogs_processed/

# Log files
/logs/

# Single cell, for now
/single_cell/

# Docs build files
/docs/build/

# I use random scripts to make my life a little easier, but these often rely
# on hard-coded paths and such. They're not meant to be shared, so ignore them.
*.ps1
*.sh

# I occasionally dump dataframes and such for debug. They always have debugHH in them, so ignore those.
**debugHH*.csv

# Ignore the data files that are too large to check in
/catalogs_raw/birds/202308_bird_dataset_mMDS.xy_3Dprojection/timetree_mMDS.xy_aves_groups_indicator_vectors_grafted_cMDS/

# Ignore NCBI Taxonomy Database lineage dump files. These are needed for various
# lookups, but are too large to check in.
nodes.dmp
rankedlineage.dmp
