# gitignore for the cosmic view of life project

# OS & Python files
**__pycache__/
.DS_Store
Thumbs.db

# Virtual Environment folder
.venv

# Output directories (e.g., primates, birds, etc.)
/birds/
/primates/
/human_origins/

# The processed catalogs
/catalogs_processed/

# Log files
/logs/

# Single cell, for now
/single_cell/

# Docs build files
/docs/build/

# Random powershell scripts to make my life a little easier. I'd check these in but they rely on specific pathnames.
copy-data.ps1
clean-data.ps1

# I occasionally dump dataframes and such for debug. They always have debugHH in them, so ignore those.
**debugHH.csv
